/*Adam Patrick*/

/**{
    border: 1px solid red;
}*/

html{
    font-size: 16px;
}

center{

}

form{
    text-align: left;
    padding-left: 27%; 
}

input{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.signin {
	background-color: gainsboro;
	border: 11px solid gray;
	width: 380px;
	height: 575px;
	margin: 0 auto;
	padding: 30px;
	box-sizing: border-box;
}

#phonenum{
    font-size: .5em;
}